.block {
    width: 100px;
    height: 100px;
    background-color: rgb(107, 231, 215);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 30px;
    color: white;
}
