.block {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(107, 231, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}

.number {
    font-size: 30px;
    color: white;
}

.moving {
    animation: move 5s linear infinite;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
