.circle {
    position: absolute;
    left: 75px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: yellow;
}

.moving {
    animation: move 5s linear infinite;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

/* .moving {
    animation: move 2s forwards;
} */

/* @keyframes move {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(200px) translateY(150px);
    }
} */
